@import url('//fonts.googleapis.com/css?family=Roboto:400,300,500');

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.content_container {
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-flow: row wrap;
  width: 70%;
  margin: auto;
}

@media screen and (min-width: 1080px) {
    .content_container {
        width: 50%;
    }
}

.hr_container{
  display: flex;
}

.header_container {
  display: flex;
  margin: auto;
  width: 80%;
}

@media screen and (max-width: 610px) {
    .header_container {
        flex-direction: column;
    }
    .content_container {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .header_container {
      margin: 0;
      width: 100%;
    }
}

.header {
  font-size: 40px;
  letter-spacing: .05em;
  width: 70%;
  margin: auto;
}

.header_sm {
  font-size: 25px;
  letter-spacing: .05em;
  width: 70%;
  margin: auto;
}

.img {
  margin: auto;
}
